In [3]:
# Import libraries.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
import os

In [4]:
# Load dataset
df = pd.read_csv("/Users/andreapena/Downloads/Loan_Default.csv") 

#Check out dataset
df.head()

,ID,year,loan_limit,Gender,approv_in_adv,loan_type,loan_purpose,Credit_Worthiness,open_credit,business_or_commercial,...,credit_type,Credit_Score,co-applicant_credit_type,age,submission_of_application,LTV,Region,Security_Type,Status,dtir1
0,24890,2019,cf,Sex Not Available,nopre,type1,p1,l1,nopc,nob/c,...,EXP,758,CIB,25-34,to_inst,98.728814,south,direct,1,45.0
1,24891,2019,cf,Male,nopre,type2,p1,l1,nopc,b/c,...,EQUI,552,EXP,55-64,to_inst,NaN,North,direct,1,NaN
2,24892,2019,cf,Male,pre,type1,p1,l1,nopc,nob/c,...,EXP,834,CIB,35-44,to_inst,80.019685,south,direct,0,46.0
3,24893,2019,cf,Male,nopre,type1,p4,l1,nopc,nob/c,...,EXP,587,CIB,45-54,not_inst,69.376900,North,direct,0,42.0
4,24894,2019,cf,Joint,pre,type1,p1,l1,nopc,nob/c,...,CRIF,602,EXP,25-34,not_inst,91.886544,North,direct,0,39.0

In [5]:
# Feature to look at the amount of rows and columns.
df.shape

(148670, 34)

In [6]:
# Check data indices.
df.index

RangeIndex(start=0, stop=148670, step=1)

In [58]:
# Check column names.
df.columns

Index(['ID', 'year', 'loan_limit', 'Gender', 'approv_in_adv', 'loan_type',
       'loan_purpose', 'Credit_Worthiness', 'open_credit',
       'business_or_commercial', 'loan_amount', 'rate_of_interest',
       'Interest_rate_spread', 'Upfront_charges', 'term', 'Neg_ammortization',
       'interest_only', 'lump_sum_payment', 'property_value',
       'construction_type', 'occupancy_type', 'Secured_by', 'total_units',
       'income', 'credit_type', 'Credit_Score', 'co-applicant_credit_type',
       'age', 'submission_of_application', 'LTV', 'Region', 'Security_Type',
       'Status', 'dtir1'],
      dtype='object')

In [60]:
# Feature Descriptions table
data = {
    "Name": [
        'ID', 'year', 'loan_limit', 'Gender', 'approv_in_adv', 'loan_type', 'loan_purpose', 'Credit_Worthines', 'open_credit', 
        'business_or_commercial', 'loan_amount', 'rate_of_interest', 'Interest_rate_spread', 'Upfront_charges', 'term', 'Neg_ammortization', 
        'interest_only', 'lump_sum_payment', 'property_value', 'construction_type', 'occupancy_type', 'Secured_by', 'total_units', 'income',
        'credit_type', 'Credit Score', 'co-applicant_credit_type', 'age', 'submission of application', 'LTV', 'Region', 'Security_Type', 
        'Status', 'dtir1'
    ],
    "Description": [
        "client loan application id",
        "year of loan application",
        "indicates whether the loan is conforming (cf) or non-conforming (ncf)",
        "gender of the applicant (male, female, joint, sex not available)",
        "indicates whether the loan was approved in advance (pre, nopre)",
        "type of loan (type1, type2, type3)",
        "purpose of the loan (p1, p2, p3, p4)",
        "credit worthiness (l1, l2)", 
        "indicates whether the applicant has any open credit accounts (opc, nopc)", 
        "indicates whether the loan is for business/commercial purposes (ob/c - business/commercial, nob/c - personal)",
        "amount of money being borrowed", 
        "interest rate charged on the loan", 
        "difference between the interest rate on the loan and a benchmark interest rate",
        "initial charges associated with securing the loan", 
        "duration of the loan in months", 
        "indicates whether the loan allows for negative ammortization (neg_amm, not_neg)", 
        "indicates whether the loan has an interest-only payment option (int_only, not_int)", 
        "indicates if a lump sum payment is required at the end of the loan term (lpsm, not_lpsm)", 
        "value of the property being financed", 
        "type of construction (sb - site built, mh - manufactured home)",
        "occupancy type (pr - primary residence, sr- secondary residence, ir - investment property)", 
        "specifies the type of collateral securing the loan (home, land)", 
        "number of units in the property being financed (1U, 2U, 3U, 4U)", 
        "applicant's annual income",
        "applicant's type of credit (CIB - credit information bureau , CRIF - CIRF credit information bureau, EXP - experian , EQUI - equifax)", 
        "applicant's credit score", 
        "co-applicant's type of credit (CIB - credit information bureau EXP - experian)", 
        "the age of the applicant.",
        "indicates how the application was submitted (to_inst - to institution, not_inst - not to institution)",
        "loan-to-value ratio calculated as the loan amount divided by the property value",
        "geographic region where the property is located (North, south, central, North-East)",
        "type of security or collateral backing the loan (direct, indirect)",
        "indicates whether the loan has been defaulted (1) or not (0)",
        "debt-to-income ratio"
    ]
}

df_reference = pd.DataFrame(data)
display(df_reference)

,Name,Description
0,ID,client loan application id
1,year,year of loan application
2,loan_limit,indicates whether the loan is conforming (cf) ...
3,Gender,"gender of the applicant (male, female, joint, ..."
4,approv_in_adv,indicates whether the loan was approved in adv...
5,loan_type,"type of loan (type1, type2, type3)"
6,loan_purpose,"purpose of the loan (p1, p2, p3, p4)"
7,Credit_Worthines,"credit worthiness (l1, l2)"
8,open_credit,indicates whether the applicant has any open c...
9,business_or_commercial,indicates whether the loan is for business/com...
10,loan_amount,amount of money being borrowed
11,rate_of_interest,interest rate charged on the loan
12,Interest_rate_spread,difference between the interest rate on the lo...
13,Upfront_charges,initial charges associated with securing the loan
14,term,duration of the loan in months
15,Neg_ammortization,indicates whether the loan allows for negative...
16,interest_only,indicates whether the loan has an interest-onl...
17,lump_sum_payment,indicates if a lump sum payment is required at...
18,property_value,value of the property being financed
19,construction_type,"type of construction (sb - site built, mh - ma..."
20,occupancy_type,"occupancy type (pr - primary residence, sr- se..."
21,Secured_by,specifies the type of collateral securing the ...
22,total_units,number of units in the property being financed...
23,income,applicant's annual income
24,credit_type,applicant's type of credit (CIB - credit infor...
25,Credit Score,applicant's credit score
26,co-applicant_credit_type,co-applicant's type of credit (CIB - credit in...
27,age,the age of the applicant.
28,submission of application,indicates how the application was submitted (t...
29,LTV,loan-to-value ratio calculated as the loan amo...
30,Region,geographic region where the property is locate...
31,Security_Type,type of security or collateral backing the loa...
32,Status,indicates whether the loan has been defaulted ...
33,dtir1,debt-to-income ratio

In [8]:
#Check the types of feature columns, count and dtype.
df.info

<bound method DataFrame.info of             ID  year loan_limit             Gender approv_in_adv loan_type  \
0        24890  2019         cf  Sex Not Available         nopre     type1
1        24891  2019         cf               Male         nopre     type2
2        24892  2019         cf               Male           pre     type1
3        24893  2019         cf               Male         nopre     type1
4        24894  2019         cf              Joint           pre     type1
...        ...   ...        ...                ...           ...       ...
148665  173555  2019         cf  Sex Not Available         nopre     type1
148666  173556  2019         cf               Male         nopre     type1
148667  173557  2019         cf               Male         nopre     type1
148668  173558  2019         cf             Female         nopre     type1
148669  173559  2019         cf             Female         nopre     type1

       loan_purpose Credit_Worthiness open_credit business_or_commercial  ...  \
0                p1                l1        nopc                  nob/c  ...
1                p1                l1        nopc                    b/c  ...
2                p1                l1        nopc                  nob/c  ...
3                p4                l1        nopc                  nob/c  ...
4                p1                l1        nopc                  nob/c  ...
...             ...               ...         ...                    ...  ...
148665           p3                l1        nopc                  nob/c  ...
148666           p1                l1        nopc                  nob/c  ...
148667           p4                l1        nopc                  nob/c  ...
148668           p4                l1        nopc                  nob/c  ...
148669           p3                l1        nopc                  nob/c  ...

        credit_type  Credit_Score  co-applicant_credit_type    age  \
0               EXP           758                       CIB  25-34
1              EQUI           552                       EXP  55-64
2               EXP           834                       CIB  35-44
3               EXP           587                       CIB  45-54
4              CRIF           602                       EXP  25-34
...             ...           ...                       ...    ...
148665          CIB           659                       EXP  55-64
148666          CIB           569                       CIB  25-34
148667          CIB           702                       EXP  45-54
148668          EXP           737                       EXP  55-64
148669          CIB           830                       CIB  45-54

        submission_of_application        LTV Region Security_Type  Status  \
0                         to_inst  98.728814  south        direct       1
1                         to_inst        NaN  North        direct       1
2                         to_inst  80.019685  south        direct       0
3                        not_inst  69.376900  North        direct       0
4                        not_inst  91.886544  North        direct       0
...                           ...        ...    ...           ...     ...
148665                    to_inst  71.792763  south        direct       0
148666                   not_inst  74.428934  south        direct       0
148667                   not_inst  61.332418  North        direct       0
148668                    to_inst  70.683453  North        direct       0
148669                   not_inst  72.849462  North        direct       0

       dtir1
0       45.0
1        NaN
2       46.0
3       42.0
4       39.0
...      ...
148665  48.0
148666  15.0
148667  49.0
148668  29.0
148669  44.0

[148670 rows x 34 columns]>

In [9]:
df.describe(include='all')

,ID,year,loan_limit,Gender,approv_in_adv,loan_type,loan_purpose,Credit_Worthiness,open_credit,business_or_commercial,...,credit_type,Credit_Score,co-applicant_credit_type,age,submission_of_application,LTV,Region,Security_Type,Status,dtir1
count,148670.000000,148670.0,145326,148670,147762,148670,148536,148670,148670,148670,...,148670,148670.000000,148670,148470,148470,133572.000000,148670,148670,148670.000000,124549.000000
unique,NaN,NaN,2,4,2,3,4,2,2,2,...,4,NaN,2,7,2,NaN,4,2,NaN,NaN
top,NaN,NaN,cf,Male,nopre,type1,p3,l1,nopc,nob/c,...,CIB,NaN,CIB,45-54,to_inst,NaN,North,direct,NaN,NaN
freq,NaN,NaN,135348,42346,124621,113173,55934,142344,148114,127908,...,48152,NaN,74392,34720,95814,NaN,74722,148637,NaN,NaN
mean,99224.500000,2019.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,699.789103,NaN,NaN,NaN,72.746457,NaN,NaN,0.246445,37.732932
std,42917.476598,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,115.875857,NaN,NaN,NaN,39.967603,NaN,NaN,0.430942,10.545435
min,24890.000000,2019.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,500.000000,NaN,NaN,NaN,0.967478,NaN,NaN,0.000000,5.000000
25%,62057.250000,2019.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,599.000000,NaN,NaN,NaN,60.474860,NaN,NaN,0.000000,31.000000
50%,99224.500000,2019.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,699.000000,NaN,NaN,NaN,75.135870,NaN,NaN,0.000000,39.000000
75%,136391.750000,2019.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,800.000000,NaN,NaN,NaN,86.184211,NaN,NaN,0.000000,45.000000
max,173559.000000,2019.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,900.000000,NaN,NaN,NaN,7831.250000,NaN,NaN,1.000000,61.000000

In [10]:
# Check null values
df.isnull().sum().sort_values(ascending=False)

Upfront_charges              39642
Interest_rate_spread         36639
rate_of_interest             36439
dtir1                        24121
LTV                          15098
property_value               15098
income                        9150
loan_limit                    3344
approv_in_adv                  908
submission_of_application      200
age                            200
loan_purpose                   134
Neg_ammortization              121
term                            41
Region                           0
total_units                      0
Security_Type                    0
Status                           0
co-applicant_credit_type         0
Credit_Score                     0
credit_type                      0
ID                               0
Secured_by                       0
occupancy_type                   0
construction_type                0
year                             0
interest_only                    0
loan_amount                      0
business_or_commercial           0
open_credit                      0
Credit_Worthiness                0
loan_type                        0
Gender                           0
lump_sum_payment                 0
dtype: int64

In [11]:
# Check percentage of null values
df.isnull().sum().sort_values(ascending=False) / len(df)

Upfront_charges              0.266644
Interest_rate_spread         0.246445
rate_of_interest             0.245100
dtir1                        0.162245
LTV                          0.101554
property_value               0.101554
income                       0.061546
loan_limit                   0.022493
approv_in_adv                0.006107
submission_of_application    0.001345
age                          0.001345
loan_purpose                 0.000901
Neg_ammortization            0.000814
term                         0.000276
Region                       0.000000
total_units                  0.000000
Security_Type                0.000000
Status                       0.000000
co-applicant_credit_type     0.000000
Credit_Score                 0.000000
credit_type                  0.000000
ID                           0.000000
Secured_by                   0.000000
occupancy_type               0.000000
construction_type            0.000000
year                         0.000000
interest_only                0.000000
loan_amount                  0.000000
business_or_commercial       0.000000
open_credit                  0.000000
Credit_Worthiness            0.000000
loan_type                    0.000000
Gender                       0.000000
lump_sum_payment             0.000000
dtype: float64

In [12]:
# Check duplicate values
df[df.duplicated()]

Empty DataFrame
Columns: [ID, year, loan_limit, Gender, approv_in_adv, loan_type, loan_purpose, Credit_Worthiness, open_credit, business_or_commercial, loan_amount, rate_of_interest, Interest_rate_spread, Upfront_charges, term, Neg_ammortization, interest_only, lump_sum_payment, property_value, construction_type, occupancy_type, Secured_by, total_units, income, credit_type, Credit_Score, co-applicant_credit_type, age, submission_of_application, LTV, Region, Security_Type, Status, dtir1]
Index: []

[0 rows x 34 columns]

In [51]:
# For all categorical columns
cat_cols = df.select_dtypes(include='object')

for col in cat_cols:
     print(df[col].value_counts())

loan_limit
cf     138692
ncf      9978
Name: count, dtype: int64
Gender
Male                 42346
Joint                41399
Sex Not Available    37659
Female               27266
Name: count, dtype: int64
approv_in_adv
nopre    125529
pre       23141
Name: count, dtype: int64
loan_type
type1    113173
type2     20762
type3     14735
Name: count, dtype: int64
loan_purpose
p3    56068
p4    54799
p1    34529
p2     3274
Name: count, dtype: int64
Credit_Worthiness
l1    142344
l2      6326
Name: count, dtype: int64
open_credit
nopc    148114
opc        556
Name: count, dtype: int64
business_or_commercial
nob/c    127908
b/c       20762
Name: count, dtype: int64
Neg_ammortization
not_neg    133541
neg_amm     15129
Name: count, dtype: int64
interest_only
not_int     141560
int_only      7110
Name: count, dtype: int64
lump_sum_payment
not_lpsm    145286
lpsm          3384
Name: count, dtype: int64
construction_type
sb    148637
mh        33
Name: count, dtype: int64
occupancy_type
pr    138201
ir      7340
sr      3129
Name: count, dtype: int64
Secured_by
home    148637
land        33
Name: count, dtype: int64
total_units
1U    146480
2U      1477
3U       393
4U       320
Name: count, dtype: int64
credit_type
CIB     48152
CRIF    43901
EXP     41319
EQUI    15298
Name: count, dtype: int64
co-applicant_credit_type
CIB    74392
EXP    74278
Name: count, dtype: int64
age
45-54    34920
35-44    32818
55-64    32534
65-74    20744
25-34    19142
>74       7175
<25       1337
Name: count, dtype: int64
submission_of_application
to_inst     96014
not_inst    52656
Name: count, dtype: int64
Region
North         74722
south         64016
central        8697
North-East     1235
Name: count, dtype: int64
Security_Type
direct      148637
Indirect        33
Name: count, dtype: int64

NOTES:

Class Imbalance: Loan_limit, approv_in_adv, Neg_ammortization, Region, Security_type, Secured_by Business or commercial, and Security_Type show that some categories dominate the data.

Data Quality Issues: Gender includes "Sex Not Available", "Indriect" in Security_Type might be a typo.

In [14]:
#Correct typo
df['Security_Type'].replace('Indriect', 'Indirect', inplace=True)

/var/folders/6r/mcwbbx4n1z9gks_6whyvn5tr0000gn/T/ipykernel_4533/1191224745.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Security_Type'].replace('Indriect', 'Indirect', inplace=True)

In [15]:
# Fill numerical NaNs with median
df.fillna(df.select_dtypes(include=['number']).median(), inplace=True)

In [16]:
# Fill categorical NaNs with the mode 
categorical_columns = df.select_dtypes(exclude=['number']).columns
for col in categorical_columns:
    mode_value = df[col].mode()[0]
    df[col].fillna(mode_value, inplace=True)

/var/folders/6r/mcwbbx4n1z9gks_6whyvn5tr0000gn/T/ipykernel_4533/3263767415.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(mode_value, inplace=True)

In [17]:
# Check if there are any missing values 
df.isna().sum()

ID                           0
year                         0
loan_limit                   0
Gender                       0
approv_in_adv                0
loan_type                    0
loan_purpose                 0
Credit_Worthiness            0
open_credit                  0
business_or_commercial       0
loan_amount                  0
rate_of_interest             0
Interest_rate_spread         0
Upfront_charges              0
term                         0
Neg_ammortization            0
interest_only                0
lump_sum_payment             0
property_value               0
construction_type            0
occupancy_type               0
Secured_by                   0
total_units                  0
income                       0
credit_type                  0
Credit_Score                 0
co-applicant_credit_type     0
age                          0
submission_of_application    0
LTV                          0
Region                       0
Security_Type                0
Status                       0
dtir1                        0
dtype: int64